<a class="usa-skipnav {{ focus ? "usa-focus" }}" href="{{ href | default(contentID) }}">
  {{ label | default("Skip to main content") }}
</a>

{% if show_sample_content == true %}
  <main id="main-content">
     {% include '../usa-type-setting/usa-type-setting--lipsum-sections.twig' with {'headline' : 'Sample content' } %}
  </main>

  <div class="usa-grid usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
{% endif %}

