<section class="example-spacing usa-prose margin-top-1 font-sans-sm measure-3">
  <h1>Sample page content</h1>
  <p class="usa-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada justo leo, vitae hendrerit massa mollis ut. Maecenas ut est vel nunc posuere varius placerat quis massa. </p>

  <h2>Section heading</h2>

  <h3>Section of the page</h3>
  <p>Integer imperdiet risus tellus, non sagittis mauris fringilla quis. Fusce rutrum lectus interdum, euismod elit vel, cursus est. Proin ac nisl ultricies, lobortis diam eget, vehicula erat. Praesent fringilla mauris et aliquam fermentum. Nam tempor sollicitudin iaculis.</p>

  <h4>Subsection of the page</h4>
  <p>Phasellus a orci et orci feugiat laoreet vel quis augue. Integer nec quam quam. Nulla facilisi. </p>
  <p>Nulla venenatis massa sed tristique consectetur. Praesent in pretium nunc, auctor semper velit. Maecenas tincidunt nisl eget posuere luctus. Donec pharetra velit ac ligula pulvinar feugiat. </p>
</section>
