/*
  These styles are added for storybook demonstration only
*/

h1 {
  text-transform: capitalize;
}

.usa-serif * {
  font-family:  $project-font-stack-serif !important;
}
  
.usa-sans * {
  font-family:  $project-font-stack-sans !important;
} 

.usa-mono * {
  font-family:  $project-font-stack-mono !important;
} 
