//export theme variables to make it accessible to JS

//gather all sass theme files
@import "uswds-theme-general";
@import "uswds-theme-typography";
@import "uswds-theme-spacing";
@import "uswds-theme-color";
@import "uswds-theme-utilities";
@import "uswds-theme-components";

//export variables needed for storybook
:export {
    typeMono: $theme-font-type-mono;
    typeSans: $theme-font-type-sans;
    typeSerif: $theme-font-type-serif;
    typeScaleLg: $theme-type-scale-lg;
}