<section id="color-demo"></section>

{% if color_tokens %}
<section class="usa-prose margin-top-2">
    <h1>Hex: {{color_tokens.arg}} {{color_tokens}}</h1>
</section>
{% endif %}

<style>
    #color-demo {
        background-color: {{color_tokens}};
        height: 50vh;
        width: 100%;
    }
</style>