//export theme variables to make it accessible to JS

//gather all sass theme files
@import "uswds";

//export variables needed for storybook
:export {
    // Primary colors
    ColorPrimaryLight: $theme-color-primary-light;
    ColorPrimary: $theme-color-primary;
    ColorPrimaryDark: $theme-color-primary-dark;

    //Typography
    typeMono: $theme-font-type-mono;
    typeSans: $theme-font-type-sans;
    typeSerif: $theme-font-type-serif;
    typeScaleLg: $theme-type-scale-lg;
}