//export theme variables to make it accessible to JS
@import "uswds";
//gather all sass theme files
@import "theme/uswds-theme-color";
@import "theme/uswds-theme-typography";

 @mixin export-map($map){
	@if type-of($map) == map {
		@each $prop, $value in $map {
				@include map-to-props($value);
		}
	}
}

:export {
    // Primary colors
    ColorPrimaryLight: $theme-color-primary-light;
    ColorPrimary: $theme-color-primary;
    ColorPrimaryDark: $theme-color-primary-dark;

    //Typography
    fontTypeMono: $theme-font-type-mono;
    fontTypeSans: $theme-font-type-sans;
    fontTypeSerif: $theme-font-type-serif;
    fontTypeScaleLg: $theme-type-scale-lg;

    // Font weights
    fontWeightThin: $theme-font-weight-thin;
    fontWeightLight: $theme-font-weight-light;
    fontWeightNormal: $theme-font-weight-normal;
    fontWeightMedium: $theme-font-weight-medium;
    fontWeightSemibold: $theme-font-weight-semibold;
    fontWeightBold: $theme-font-weight-bold;
    fontWeightHeavy: $theme-font-weight-heavy;

    // Theme Colors
    @each $prop, $value in $assignments-theme-color {
      $prop: $value;
    }
}
